.new-password-form {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 12px;
}

.new-password-form__label {
  margin-bottom: -4px;

  font-size: 14px;
  font-weight: 500;
}

.new-password-form__error {
  margin-top: 8px;

  color: var(--color-error);

  font-size: 14px;
  text-align: center;
}
