.auth-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #5FD3F8 0%,
    #3471F5 50%,
    #E467F1 100%
  );
}

.auth {
  width: 100%;
  max-width: 428px;

  min-height: 100vh;

  padding: 16px 16px 32px;

  display: flex;
  flex-direction: column;
}

.auth__logo {
  width: 221px;

  /* margin: 0 auto;
  margin-top: 100px; */
  margin: 180px auto 0;
}

.auth__actions {
  margin-top: auto;
  /* margin-bottom: 220px; */
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;

  gap: 12px;
}

.auth__button {
  margin-top: auto;
  /* height: 57px; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 12px; */

  border-radius: 10px;

  background-color: var(--color-white);

  color: var(--color-black);

  font-size: 16px;
  font-weight: 500;

  text-decoration: none;
}