.recover-page {
    min-height: 100vh;

    background-color: var(--color-white);
}

.recover {
    width: 100%;

    max-width: 427px;
    margin: 0 auto;

    padding: 16px;

    display: flex;
    flex-direction: column;
}

.recover__title {
  margin-top: 24px;

  font-size: 24px;
  font-weight: 700;
}

.recover__subtitle {
  margin-top: 12px;
  margin-bottom: 32px;

  color: var(--color-gray);

  font-size: 14px;
  line-height: 1.4;
}
